<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sign-in</title>
  </head>
  <body>
    <h2>Sign In for fantastic GA cinema 🎬</h2>
    <form action="/auth/sign-in" method="POST">
      <input type="email" name="email" required />
      <input type="password" name="password" required />

      <button type="submit">Sign In</button>
    </form>
  </body>
</html>
