<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GA Cinema</title>
  </head>
  <body>
    <a href="/auth/sign-in.ejs">sign in</a>
    <a href="/auth/sign-up.ejs">sign up</a>
  </body>
</html>
